<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050357309254-aemr333re5pc8shejobohtvifst19q6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050357309254-aemr333re5pc8shejobohtvifst19q6a</string>
	<key>API_KEY</key>
	<string>AIzaSyB0RkDNVi3GBU3Jvapa2WnCu0LLGEqbikw</string>
	<key>GCM_SENDER_ID</key>
	<string>1050357309254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tom.acnh</string>
	<key>PROJECT_ID</key>
	<string>acnh-abb83</string>
	<key>STORAGE_BUCKET</key>
	<string>acnh-abb83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050357309254:ios:d68799e0d009fe6166cf47</string>
	<key>DATABASE_URL</key>
	<string>https://acnh-abb83.firebaseio.com</string>
</dict>
</plist>